{{#section 'style'}}
<link rel="stylesheet" href="/css/pages/profile.css">
{{/section}}


{{!-- Form --}}
<div id="profile" class="h-25 bg-white px-4 py-4 rounded shadow my-5">
  <div class="d-flex align-items-center fw-bold text-primary-color">
    <i class="fas fa-user h4 m-0 me-2"></i>
    <p class="m-0 h4">Thông tin tài khoản</p>
  </div>
  <div>
    <!--enctype="multipart/form-data" -->
    <form action="/profile/edit" method="POST" class="row m-0 pt-4" id="profile-form">

      <div class="col-5 text-center">
        <div class="d-flex justify-content-center">
          <div class="position-relative" style="width: fit-content;">
            <img src="{{user.avatar}}" alt="" height="100px" width="100px" class="rounded-circle object-fit-cover">
            <div class="position-absolute bottom-0 end-0">
              <label for="avatar" class="btn btn-light border border-3 border-light p-2 m-0"><i
                  class="fas fa-camera"></i></label>
              {{!-- Input image png, jpg --}}
              <input type="file" name="avatar" id="avatar" class="d-none" accept="image/png, image/jpeg">
            </div>
          </div>
        </div>
        <p class="h6 fw-bold mt-3">{{user.email}}</p>
        <a href="/profile/change-password">Đổi mật khẩu</a>
      </div>

      <div class="col-7">

        <div class="d-flex justify-content-center align-items-center">
          <p class="m-0 text-end me-3 text-nowrap" style="width: 7rem !important;">Họ tên<span
              class="text-danger">(*)</span></p>
          <input type="text" class="form-control bg-light text-muted" name="fullname" id="fullname"
            value="{{user.fullname}}" required>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-3">
          <p class="m-0 text-end me-3 text-nowrap" style="width: 7rem !important;">Ngày sinh</p>
          <input type="date" class="form-control bg-light text-muted" name="birthday" id="birthday"
            value="{{user.birthday.yyyy}}-{{user.birthday.mm}}-{{user.birthday.dd}}">
        </div>
        <div class="d-flex justify-content-center align-items-center mt-3">
          <p class="m-0 text-end me-3 text-nowrap" style="width: 7rem !important;">Điện thoại</p>
          <input type="tel" class="form-control bg-light text-muted" name="phone" id="phone" value="{{user.phone}}">
        </div>
        <div class="d-flex justify-content-center align-items-start mt-3">
          <p class="m-0 text-end me-3 text-nowrap" style="width: 7rem !important;">Giới thiệu</p>
          {{!-- Multiline input --}}
          <textarea class="form-control bg-light text-muted" name="introduction" id="introduction"
            rows="3">{{user.introduction}}</textarea>
        </div>
        <div class="d-flex justify-content-center align-items-start mt-3">
          <div style="width: 7rem !important;"></div>
          <div class="text-center">
            <button class="btn btn-primary" type="submit">Lưu</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  const profileForm = document.getElementById('profile-form');
  const avatar = document.getElementById('avatar');
  const avatarImg = document.querySelector('#profile img');
  avatar.addEventListener('change', () => {
    const file = avatar.files[0];
    const reader = new FileReader();
    reader.onload = () => {
      avatarImg.src = reader.result;
    }
    reader.readAsDataURL(file);
  })
</script>