{{> tournament-header}}
<div class="bg-white-color px-5 py-3 text-center">
  <div class="row mx-5 mb-2">

    <div class="d-flex mb-3" id="sub-sub-navigation">
      {{#ifEquals subSubNavigation 0}}
      <a href="#" class="h6 fw-bold active">Đội bóng</a>
      {{else}}
      <a href="/tournament/statistics" class="h6 fw-bold text-decoration-none">Đội bóng</a>
      {{/ifEquals}}

      {{#ifEquals subSubNavigation 1}}
      <a href="#" class="h6 fw-bold ms-3 active">Cầu thủ</a>
      {{else}}
      <a href="/tournament/statistics/players" class="h6 fw-bold ms-3 text-decoration-none">Cầu thủ</a>
      {{/ifEquals}}
    </div>

    <div class="d-flex justify-content-between align-items-end mb-1">
      <p class="m-0 text-muted text-end">Double: 2 bàn; Hattrick: 3 bàn; Poker: 4 bàn.</p>
      <a href="/tournament/statistics/download">
        <button class="btn btn-success">
          <i class="fas fa-download"></i>
          <span class="ms-2">Tải xuống</span>
        </button>
      </a>
    </div>

    <div class="table-responsive mb-3" id="table-leaderboard">
      <table class="table table-hover table-borderless rounded mb-1">
        <thead>
          <tr>
            <th scope="col" class="bg-yellow-color fw-normal text-light">#</th>
            <th scope="col" class="bg-yellow-color fw-normal text-light"></th>
            <th scope="col" class="bg-yellow-color fw-normal text-light text-start">Tên cầu thủ</th>
            <th scope="col" class="bg-yellow-color fw-normal text-light">Số áo</th>
            <th scope="col" class="bg-yellow-color fw-normal text-light">Đội thi đấu</th>
            <th scope="col" class="bg-yellow-color fw-normal text-light">Số bàn ghi được</th>
            <th scope="col" class="bg-yellow-color fw-normal text-light">Phản lưới nhà</th>
            <th scope="col" class="bg-yellow-color fw-normal text-light">Số double</th>
            <th scope="col" class="bg-yellow-color fw-normal text-light">Số hattrick</th>
            <th scope="col" class="bg-yellow-color fw-normal text-light">Số poker</th>
            <th scope="col" class="bg-yellow-color fw-normal text-light">🟨/🟥</th>
          </tr>
        </thead>
        <tbody>
          {{#each players}}
          <tr>
            <th scope="row" class="fw-normal">{{sum @index 1}}</th>
            <td>
              <img src="/img/players/{{this.id}}.png" alt="" height="40" class="rounded-circle">
            </td>
            <td>
              <a href="/players/{{this.id}}">
                <p class="m-0 text-start">{{this.name}}</p>
              </a>
            </td>
            <td>{{this.number}}</td>
            <td>
              <a href="/teams/{{this.teamId}}">
                <div class="d-flex justify-content-center align-items-center">
                  <img src="/img/teams/{{this.teamId}}/logo.png" alt="" height="30px" class="me-2">
                  <p class="m-0 text-start">{{this.team_name}}</p>

                </div>
              </a>
            </td>
            <td>{{this.goals}}</td>
            <td>{{this.own_goals}}</td>
            <td>{{this.doubles}}</td>
            <td>{{this.hattricks}}</td>
            <td>{{this.pokers}}</td>
            <td>{{this.yellow_cards}} / {{this.red_cards}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </div>
</div>