{{> match-header}}
<div class="bg-white-color p-5 text-center">
  <div class="row mx-5">

    <div class="col-4">

      <div>
        <!-- Counter -->
        <div class="d-flex align-items-center text-primary-color mb-3">
          <i class="fas fa-futbol fa-2x me-2"></i>
          <p class="h5 m-0 fw-bold ">Sắp diễn ra</p>
        </div>
        <div class="row row-cols-4 m-0 mb-3 text-light">
          <div class="col px-1">
            <div class="bg-primary-color p-2 rounded">
              <p class="m-0 display-2 fw-bold text-center" id="day">0</p>
              <p class="m-0 h4 fw-bold">ngày</p>
            </div>
          </div>
          <div class="col px-1">
            <div class="bg-primary-color p-2 rounded">
              <p class="m-0 display-2 fw-bold text-center" id="hour">0</p>
              <p class="m-0 h4 fw-bold">giờ</p>
            </div>
          </div>
          <div class="col px-1">
            <div class="bg-primary-color p-2 rounded">
              <p class="m-0 display-2 fw-bold text-center" id="minute">0</p>
              <p class="m-0 h4 fw-bold">phút</p>
            </div>
          </div>
          <div class="col px-1">
            <div class="bg-primary-color p-2 rounded">
              <p class="m-0 display-2 fw-bold text-center" id="second">0</p>
              <p class="m-0 h4 fw-bold">giây</p>
            </div>
          </div>
        </div>

        <hr class="hr">

        <!-- Stadium -->
        <div class="d-flex align-items-center text-primary-color mb-3">
          <i class="fas fa-location-dot fa-2x me-2"></i>
          <p class="h5 m-0 fw-bold ">Địa điểm trận đấu</p>
        </div>

        <p class="mb-1 text-start"><strong>Địa điểm:</strong> {{match.place}}</p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.635863047679!2d106.6797512748567!3d10.762521589385393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1bfc262bf1%3A0x4e843897f2900135!2zMjI3IMSQLiBOZ3V54buFbiBWxINuIEPhu6ssIFBoxrDhu51uZyA0LCBRdeG6rW4gNSwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1704601347126!5m2!1sen!2s"
          class="border-0 w-100 mb-3" height="200" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>


        <!-- Leaderboard -->
        <div class="d-flex align-items-center text-primary-color mb-3">
          <i class="fas fa-medal fa-2x me-2"></i>
          <p class="h5 m-0 fw-bold ">Bảng xếp hạng</p>
        </div>
        <table class="table table-hover rounded mb-3">
          <tbody>

            {{#each teams}}

            <tr>
              <th scope="row" class="py-2 pt-3 fw-normal text-start">{{#sum @index 1}}{{/sum}}</th>
              <td class="py-2 pt-3">
                <div class="d-flex align-items-center">
                  <img src="/img/teams/{{this.id}}/logo.png" alt="" class="me-2" height="25" width="25">
                  <a href="/teams/{{this.id}}" class="text-decoration-none h6 align-bottom mb-0">{{this.name}}</a>
                </div>
              </td>
              <td class="py-2 pt-3 fw-bold text-end">{{this.score}} điểm</td>
            </tr>

            {{/each}}

          </tbody>
        </table>
        <a href="/tournament/teams">
          <button class="btn btn-primary w-100 mb-5">
            <i class="fas fa-medal me-2"></i>
            Xem chi tiết
          </button>
        </a>

      </div>

    </div>

    <div class="col-8 ps-4">
      {{#if match.isPlayed}}
      <!-- ra sân -->
      <div class="d-flex align-items-center text-primary-color mb-3">
        <i class="fas fa-users fa-2x me-2"></i>
        <p class="h5 m-0 fw-bold ">Đội hình ra sân</p>
      </div>
      <div class="table-responsive mb-3" id="table-leaderboard">
        <table class="table table-hover table-borderless rounded mb-1">
          <thead>
            <tr>
              <th scope="col" class="bg-yellow-color fw-normal text-light align-middle">#</th>
              <th scope="col" class="bg-yellow-color fw-normal text-light text-uppercase">
                <img src="/img/teams/{{match.teamId1}}/logo.png" alt="" height="35" class="d-inline me-1">
                {{match.name1}}
              </th>
              <th scope="col" class="bg-yellow-color fw-normal text-light text-uppercase">
                <img src="/img/teams/{{match.teamId2}}/logo.png" alt="" height="35" class="d-inline me-1">
                {{match.name2}}
              </th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <th scope="row" class="fw-normal">1</th>
              <td>
                Nguyễn Tiến Thái (19)
              </td>
              <td>
                Thanh An Thắng (23)
              </td>
            </tr>
            <tr>
              <th scope="row" class="fw-normal">2</th>
              <td>
                Nguyễn Tiến Thái (19)
              </td>
              <td>
                Thanh An Thắng (23)
              </td>
            </tr>

          </tbody>
        </table>
      </div>

      <!-- chi tiết -->
      <div class="d-flex align-items-center text-primary-color mb-3">
        <i class="fas fa-file-lines fa-2x me-2"></i>
        <p class="h5 m-0 fw-bold ">Chi tiết trận đấu</p>
      </div>
      <div class="mb-3 text-start">
        <!-- <p class="m-0"><strong>00'00'':</strong> Trận đấu bắt đầu!</p>
        <p class="m-0"><strong>05'01'':</strong> Tỉ số 0-1 bởi LÊ ĐÌNH NGUYÊN!</p>
        <p class="m-0"><strong>36'00'':</strong> Tỉ số 1-1 bởi Nguyễn Văn Dương!</p>
        <p class="m-0"><strong>42'00'':</strong> Tỉ số 2-1 bởi Phạm Văn Vỹ!</p>
        <p class="m-0"><strong>42'54'':</strong> Thẻ vàng LÊ ĐÌNH NGUYÊN!</p>
        <p class="m-0"><strong>50'00'':</strong> Tỉ số 3-1 bởi Nguyễn Văn Đức!</p>
        <p class="m-0"><strong>54'05'':</strong> Tỉ số 4-1 bởi Nguyễn Thế Hưng!</p>
        <p class="m-0"><strong>90'05:</strong> Trận đấu kết thúc!</p> -->
        {{#each match.logs}}
        <p class="m-0"><strong>{{this.time}}:</strong> {{this.log}}</p>
        {{/each}}
      </div>

      <!-- thống kê -->
      <div class="d-flex align-items-center text-primary-color mb-3">
        <i class="fas fa-chart-line fa-2x me-2"></i>
        <p class="h5 m-0 fw-bold ">Thống kê trận đấu</p>
      </div>
      <div class="d-flex justify-content-center">
        <div class="w-50">
          <div class="d-flex justify-content-around align-items-center mb-1">
            <img src="/img/teams/{{match.teamId1}}/logo.png" alt="" height="50">
            <p class="m-0 h5 fw-bold text-primary-color">| V.S |</p>
            <img src="/img/teams/{{match.teamId2}}/logo.png" alt="" height="50">
          </div>
          <div class="d-flex justify-content-between align-items-center fw-bold">
            <p class="m-0 text-success">{{match.yellowCards1.length}}</p>
            <p class="m-0">Thẻ vàng</p>
            <p class="m-0 text-danger">{{match.yellowCards2.length}}</p>
          </div>
          <hr class="hr mt-0">
          <div class="d-flex justify-content-between align-items-center fw-bold">
            <p class="m-0 text-success">{{match.redCards1.length}}</p>
            <p class="m-0">Thẻ đỏ</p>
            <p class="m-0 text-success">{{match.redCards2.length}}</p>
          </div>
          <hr class="hr mt-0">
          <div class="d-flex justify-content-between align-items-center fw-bold">
            <p class="m-0 text-success">{{match.penalties1.length}}</p>
            <p class="m-0">Phạt đền</p>
            <p class="m-0 text-danger">{{match.penalties2.length}}</p>
          </div>
          <hr class="hr mt-0">


        </div>
      </div>
      {{else}}
      <p class="h5 text-warning-emphasis mt-3">Trận đấu chưa diễn ra!</p>
      {{/if}}


    </div>

  </div>
</div>

<script>
  // Calculate from now to match time
  // match time is both match.date and match.time
  const dateStr = '{{match.date}}';
  const timeStr = '{{match.time}}:00';

  // Convert date string to 'yyyy-mm-dd' format
  const [dd, mm, yyyy] = dateStr.split('/');
  const convertedDateStr = `${yyyy}-${mm.padStart(2, '0')}-${dd.padStart(2, '0')}`;

  // Combine date and time strings into a single string
  const combinedDateTimeString = `${convertedDateStr}T${timeStr}`;
  const matchTime = new Date(combinedDateTimeString);

  const now = new Date();

  if (matchTime < now) {
    day.innerHTML = 0;
    hour.innerHTML = 0;
    minute.innerHTML = 0;
    second.innerHTML = 0;
  } else {
    day.innerHTML = Math.floor((matchTime - now) / (1000 * 60 * 60 * 24));
    hour.innerHTML = Math.floor((matchTime - now) % (1000 * 60 * 60 * 24) / (1000 * 60 * 60));
    minute.innerHTML = Math.floor((matchTime - now) % (1000 * 60 * 60) / (1000 * 60));
    second.innerHTML = Math.floor((matchTime - now) % (1000 * 60) / 1000);

    setInterval(() => {
      const now = new Date();
      day.innerHTML = Math.floor((matchTime - now) / (1000 * 60 * 60 * 24));
      hour.innerHTML = Math.floor((matchTime - now) % (1000 * 60 * 60 * 24) / (1000 * 60 * 60));
      minute.innerHTML = Math.floor((matchTime - now) % (1000 * 60 * 60) / (1000 * 60));
      second.innerHTML = Math.floor((matchTime - now) % (1000 * 60) / 1000);
      console.log('counting...');
    }, 1000);
  }

</script>