{{> teams-header}}

<div class="bg-white-color px-5 py-4 text-center">
  <div class="row mx-5 mb-0">

    <div class="d-flex mb-3" id="sub-sub-navigation">
      {{#ifEquals subSubNavigation 0}}
      <a href="#" class="h6 fw-bold active">Thông tin</a>
      {{else}}
      <a href="/teams/{{team.id}}/edit" class="h6 fw-bold text-decoration-none">Thông tin</a>
      {{/ifEquals}}

      {{#ifEquals subSubNavigation 1}}
      <a href="#" class="h6 fw-bold ms-3 active">Thành viên</a>
      {{else}}
      <a href="/teams/{{team.id}}/edit/members" class="h6 fw-bold ms-3 text-decoration-none">Thành viên</a>
      {{/ifEquals}}
    </div>

    <div class="d-flex justify-content-between align-items-end mb-1">
      <div class="text-muted m-0">
        Hiển thị <strong>1</strong> đến <strong>10</strong> trong tổng số <strong>100</strong> thành viên.
      </div>
      <button class="btn btn-success">
        <i class="fas fa-plus"></i>
        <span class="ms-1">Thêm người</span>
      </button>
    </div>

    <div class="table-responsive mt-3">
      <table class="table">
        <thead class="table-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col" class="text-start">Tên thành viên</th>
            <th scope="col">Số áo</th>
            <th scope="col">Năm sinh</th>
            <th scope="col">Vị trí thi đấu</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
              <img src="/img/teams/1/Nguyễn Tiến Thái.png" alt="team-member" height="40px" width="40px"
                class="rounded-circle">
            </td>
            <td class="text-start">
              <a href="/teams/1/members/1">Nguyễn Tiến Thái</a>
            </td>
            <td>19</td>
            <td>1960</td>
            <td>GK, LB</td>
            <td>0919987654</td>
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <button class="btn btn-outline-danger ms-2">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>


        </tbody>
      </table>
    </div>

    {{!-- Pagination --}}

    <nav aria-label="Page navigation" class="mt-4" id="teams-pagination">
      <ul class="pagination justify-content-center">
        <li class="page-item {{#ifEquals this.page 1}}disabled{{/ifEquals}}">
          <a class="page-link" href="/teams?page={{sum -1 this.page}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {{#each (range 1 this.nOfPages)}}
        <li class="page-item {{#ifEquals this ../page}}active" aria-current="page{{/ifEquals}}">
          <a class="page-link" href="/teams?page={{this}}">{{this}}</a>
        </li>
        {{/each}}
        <li class="page-item {{#ifEquals this.page this.nOfPages}}disabled{{/ifEquals}}">
          <a class="page-link" href="/teams?page={{sum 1 this.page}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</div>