{{> management-header}}

<div class="bg-white-color px-5 py-3 text-center">
  <div class="row mx-5 mb-2">

    <div class="d-flex justify-content-between align-items-end mb-1">
      <div class="text-muted m-0">
        Hiển thị tổng số <strong>{{teams.length}}</strong> đội.
      </div>
      <a href="/teams/create">
        <button class="btn btn-success">
          <i class="fas fa-plus"></i>
          <span class="ms-1">Thêm đội</span>
        </button>
      </a>
    </div>

    <div class="table-responsive mt-3">
      <table class="table">
        <thead class="table-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col" class="text-start">Tên đội</th>
            <th scope="col">Trình độ</th>
            <th scope="col">Tên liên hệ</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Email</th>
            <th scope="col">Đang tham gia</th>
            <th scope="col">Thao tác</th>
          </tr>
        </thead>
        <tbody>

          {{#each teams}}
          <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>
              <img src="/img/teams/{{this.id}}/logo.png" alt="team-logo" height="40px" width="40px"
                class="rounded-circle">
            </td>
            <td class="text-start">
              <a href="/teams/{{this.id}}">{{this.name}}</a>
            </td>
            <td>{{this.level}}</td>
            <td>{{this.contactName}}</td>
            <td>{{this.contactPhone}}</td>
            <td>{{this.contactEmail}}</td>
            {{#if this.status}}
            <td>
              <a href="/tournament">Đã duyệt</a>
            </td>
            {{else}}
            <td>Đang chờ</td>
            {{/if}}
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <a href="/teams/{{this.id}}/edit">
                  <button class="btn btn-outline-dark">
                    <i class="fas fa-edit"></i>
                  </button>
                </a>
                <button class="btn btn-outline-danger ms-2">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
          {{/each}}


        </tbody>
      </table>
    </div>

  </div>
</div>